# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# pytest
.pytest_cache/

# Allure results
allure-results/
allure-report/

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db